@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input, button, textarea {
    border: none;
    outline: none;
}
/* NAVIGATION */
.navbar  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar ul {
    display: flex;
}
.navbar ul li a {
    height: 50px;
    line-height: 43px;
    margin: 25px;
    padding: 0 20px;
    display: flex;
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    color: #000;
} 
.navbar ul li a:hover {
    background-color: #90CCF4;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(93, 162, 213);
    font-weight: bold;
    border-radius: 10px;
}
.navbar-brand {
    margin-left: 20px;
}

.active {
    background-color: #E090DF;
    color: rgb(255, 255, 255);
    box-shadow: 5px 10px 30px rgba(224, 144, 223);
    border-radius: 10px;
}
.logo {
    padding-top: 15px;
}
/* MAIN SECTION */
.main {
    width: 100%;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Homebg.png);
}
.main-heading {
    width: 500px;
    position: absolute;
    left: 16%;
    top: 47%;
    transform: translate(-16%, -47%);
}
.main-heading h1 {
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
    color: #000;
}
.main-heading p {
    color: #000;
    font-size: 20px;
}
.main-btn {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E090DF;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.main-btn:hover {
    background-color: #90CCF4;
    box-shadow: 5px 10px 30px rgba(93, 162, 213);
    font-weight: bold;
}
.secondary-btn {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90CCF4;
    border-radius: 15px;
    box-shadow: 5px 10px 30px rgb(193, 193, 193);
    color: #000;
    font-weight: bold;
    /* text-decoration: none; */
    transition: 0.4s ease-in-out;
}
.secondary-btn:hover {
    background-color: rgb(37, 113, 171);
    color: #fff;
    box-shadow: 5px 10px 30px rgb(37, 113, 171);
    font-weight: bold;
}
/* ABOUT SECTION */
.about {
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}
.about-img {
    width: 50%;
}
.about-img {
    width: 500px; 
}
.about-text {
    width: 40%;
    color: #000;
    text-align: right;
}
.about-text h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-text p {
    font-size: 20px;
    color: #4b4b4b;
    text-align: justify;
}
/* OFFERS SECTION */
.offers {
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -80px;
    
}
.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.offer-box {
    background-color: #fff;
    width: 300px;
    height: 400px;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 10px 30px rgba(93, 162, 213);
}
.o-img {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.o-img img {
    width: 100%;
    height: 60%;
}
.o-text {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}
.o-text h4 {
    margin-top: -5px;
    font-size: 20px;
}
.o-text h6 {
    margin-top: -5px;
}
.offer-btn {
    margin-top: 15px;
    width: 120px;
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E090DF;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.offer-btn:hover {
    background-color: #F3D250;
    color: #000;
    box-shadow: 5px 10px 30px rgba(243, 210, 80);
    font-weight: bold;
}
/* Back to top button */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #90CCF4;
    cursor: pointer;
    outline: none;
    border: 3px solid #90CCF4;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #fff;
    color: #E090DF;
}
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to{
        opacity: 1;
    }
}
.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

/* COMMUNITY SELECTION */
.community-container {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* .select-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
} */
.select {
    /* padding: 95px; */
    /* padding-top: 100px;
    padding-left: 130px; */
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 10px;
    max-width: 200;
    margin: 0 auto;
    text-align: center;
}
.select_item {
    margin: 20px;
    width: 180px;
    height: 70px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px rgba(93, 162, 213);
    cursor: pointer;
    transition: background 0.1s;
}
.select_item-text {
    margin-top: 20px;
    padding-top: 18px;
    align-items: center;  
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.select_item-selected {
    border: 3px solid #E090DF;
    color: #a962a8;
    /* font-weight: bold; */
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 20px #E090DF;
}

 .community-container h2 {
    margin: 0 0 50px 0;
    color: #4F1D4E;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.community-btn {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90CCF4;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    float: right;
    
}
.community-btn:hover {
    background-color: #E090DF;
    box-shadow: 5px 10px 30px #E090DF;
    font-weight: bold;
}

/* REPORT PAGE */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box {
    background-color: #fff;
    width: 600px;
    height: 400px;
    margin: 40px;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 20px rgba(93, 162, 213);
}
.report-btn {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(93, 162, 213);
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    float: right;
}
.avatar{
    width:200px;
    height:200px;
    }  
.h2 {
    text-align: center;
}
/* FEEDBACK FORM */

.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
.feedback-box{
    background-color: #fff;
    width: 700px;
    height: 560px;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 20px rgb(88, 88, 88);
    align-items: center;
    justify-content: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

.feedback-content {
    color:#000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
    padding: 5px;
}
.feedback-content input {
    display: none;
}

.feedback-content input + label {
    font-size: 30px;
    color: #FFD700;
    cursor: pointer;
}
.feedback-container input:checked +label ~ label {
    color: #a5a5a5;
}
.feedback-container label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
/* USER PROFILE */
.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.profile-container h3 {
    font-family: "Raleway",sans-serif;
    font-size: 40px;
    font-weight: 500;
    padding: 20px;
    margin: 20px;
}
.profile-item {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    max-width: 200;
    text-align: center;
    height: 60vh;
}
.profile-item h5 {
    font-family: "Raleway",sans-serif;
    font-size: 15px;
}
.profile-item h4 {
    font-family: "Raleway",sans-serif;
    font-size: 25px;
    padding: 20px;
}
.item-left{
    justify-content: center;
    align-items: center;
}
.item-right{
    justify-content: center;
    align-items: center;
}
.item-right a{
    text-decoration: none;
    color: #000;
}
.form-control-sm {
    /* padding-left: 100px; */
    margin-left: 70px;
}

.cancel-btn{
    margin: 20px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
    border-color: 3px solid black;
    color: #000;
}
.update-btn{
    margin: 20px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
    color: #fff;
    background-color: #90CCF4;
    text-decoration: none;
}
.update-btn a{
    text-decoration: none;
    color: #fff;
}

/* MAIN PAGE*/
.container{
    min-height: 85vh;
    background: #fff;
    display: flex;
}
.side-bar {
    background: #90CCF4;
    width: 290px;
    height: 100vh;
    left: 0;
    position:fixed;
    border-radius: 0px 15px 15px 0px;
}
.side-bar .menu {
    width: 100%;
    margin-top: 20px;
}
.side-bar .menu .item a{
    color: #000;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    display: block;
    padding: 6px 40px;
    line-height: 30px;
}
.side-bar .menu .item a:hover {
    background: #E090DF;
    color: #fff;
    transition: 0.3s ease ;
}
.side-bar .menu .item i{
    margin-right: 15px;
}
.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 5px;
    margin: 8px;
    transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu {
    background: rgba(224, 144, 223, 0.4);
    display: none;
}
.side-bar .menu .item .sub-menu a {
    padding-left: 80px;
}
.rotate {
    transform: rotate(90deg);
}
.room-container {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10px;
    margin-left: 250px;
}
.room-box {
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    border: 2px solid #90CCF4;
    text-align: center;
}
.join-btn{
    margin: 20px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
    color: #fff;
    background-color: #90CCF4;
    text-decoration: none;
}

/* CONTACT SALES PAGE */
.contact-form{
    background-color: #fff;
    width: 800px;
    height: 500px;
    margin: 40px;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 20px rgba(93, 162, 213);
}


 /* PAYMENT */
#grad1 {
    background-color:  white;
    background-image: linear-gradient(120deg, #fdfdfd, #d3eefa);
   
}
 
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
   
}
 
#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
 
    /*stacking fieldsets above each other*/
    position: relative;
}
 
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
 
    /*stacking fieldsets above each other*/
    position: relative;
}
 
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
 
#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}
 
#msform input, #msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}
 
#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
}
 
/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
 
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}
 
/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
 
#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}
 
/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}
 
select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}
 
/*The background card*/
.card {
    z-index: 0;
    border: none;
    position: relative;
    border-radius: 10px;
    border-color: #000000;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 20px rgba(93, 162, 213);
}
 
/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
 
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}
 
#progressbar .active {
    color: #000000;
}
 
#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}
 
/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
}
 
#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}
 
#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
}
 
#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}
 
/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}
 
/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}
 
/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: skyblue;
}
 
/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}
 
.radio {
    display:inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor:pointer;
    margin: 8px 2px;
}
 
.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
 
.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
 
/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}


/*.radio-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 200;
    margin: 0 auto;
    text-align: center;
}
.custom-radio input{
    display: none;
}
.radio-btn {
    margin: 20px;
    width: 180px;
    height: 70px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px rgba(93, 162, 213);
    cursor: pointer;
    transition: 0.1s;
}
.radio-btn > i {
    color: #fff;
    background-color: #E090DF;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
}

.community-text h3{
    margin-top: 20px;
    align-items: center;  
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.custom-radio input:checked+ .radio-btn {
    border: 3px solid #E090DF;
    color: #E090DF;
    font-weight: bold;
} 
.custom-radio input:checked+ .radio-btn>i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}  */

